parameters:
	ignoreErrors:
		-
			message: "#^Call to static method search\\(\\) on an unknown class Laravel\\\\Scout\\\\Searchable\\.$#"
			count: 1
			path: src/Infrastructure/Console/ElasticSearch.php

		-
			message: "#^PHPDoc tag @var for variable \\$class has invalid type Laravel\\\\Scout\\\\Searchable\\.$#"
			count: 1
			path: src/Infrastructure/Console/ElasticSearch.php
